/* color */

$clr-neutral-100: hsl(0,0%,100%);
$clr-neutral-150: hsl(0, 0%, 98%);
$clr-neutral-200: hsl(229, 6%, 66%);
$clr-neutral-600: hsl(234, 12%, 34%);

$clr-accent-cyan: hsl(180, 62%, 55%);
$clr-accent-blue: hsl(212, 86%, 64%);
$clr-accent-red: hsl(0, 78%, 62%);
$clr-accent-orange: hsl(34, 97%, 64%);

/*typography*/

$font-family: "Poppins", "sans-serif";

$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

$fs-300: 13px;
$fs-400: 15px;
$fs-600: 20px;
$fs-700: 24px;
$fs-900: 36px;


/*spacing*/


$container-gap-mobile: 1.5rem;
$container-gap-desktop: 2rem;

/*sizes*/

$max-width-mobile: 311px;

$max-width-desktop: 540px;


    
   