@use "variables" as *;
@use "reset";
@use "utility_classes";


/*genaral styling */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $clr-neutral-150;
    font-family: $font-family;
}

@media (min-width: 40em)and (max-width:70em){
    body{
        zoom: 145%;
    }
}

header {
    margin-inline: auto;
    max-width: 311px;
    text-align: center;
}

h1 {
    font-size: $fs-700;
    line-height: 150%;
}



@media(min-width: 70em) {
    h1 {
        font-size: $fs-900;
        line-height: 130%;
    }
    header {
        max-width: $max-width-desktop;
       padding-inline: 0.2rem;
    }
}

h2 {
    font-size: $fs-600;
    font-weight: $fw-600;
}

p {
    line-height: 24px;
}




/*fine-tuning */

.wrapper {
   margin-top: 5rem;
   padding-bottom: 2rem;
}

@media (min-width: 40em)and (max-width:70em){
   .wrapper {
    margin-top: 3rem;
   }
}

@media(min-width: 70em) {
    .wrapper {
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}


.container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: $container-gap-mobile;
    
}

@media(min-width: 70em){
    .container {
        flex-direction: row;
        align-items: center;
        gap: $container-gap-desktop;
        
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: $container-gap-mobile;
}

@media(min-width: 70em){
    .inner-container {
       gap: $container-gap-desktop;
        
    }
}


.card {
    max-width: 311px;
    min-height: 222px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 2px hsl(0,0%,0%,15%), 3px 3px 1px 0px hsla(251, 78%, 12%, 0.01), 1px 6px 4px 0px hsl(210, 28%, 87%), 1px 4px 4px 0px hsl(210, 28%, 87%);
    padding: 28px 28px 0 28px;
    position: relative;
}  

@media(min-width:70em){
    .card {
        min-width: 350px;
        height: 250px;
    }
}

.card[data-cyan] {
    background: linear-gradient(
        $clr-accent-cyan 0%,
        $clr-accent-cyan 2%,
        $clr-neutral-100 2%,
        $clr-neutral-100 100%
        )
}

.card[data-red] {
    background: linear-gradient(
        $clr-accent-red 0%,
        $clr-accent-red 2%,
        $clr-neutral-100 2%,
        $clr-neutral-100 100%
        )
}

.card[data-orange] {
    background: linear-gradient(
        $clr-accent-orange 0%,
        $clr-accent-orange 2%,
        $clr-neutral-100 2%,
        $clr-neutral-100 100%
        )
}

.card[data-blue] {
    background: linear-gradient(
        $clr-accent-blue 0%,
        $clr-accent-blue 2%,
        $clr-neutral-100 2%,
        $clr-neutral-100 100%
        )
}

@media(min-width: 70em){
.card p {
    margin-top: .5rem;
    letter-spacing: 0.09px;
}
}

.card img {
    position: absolute;
    right: 28px;
    bottom: 28px;
}